
<div>
    <a class="text-center">
        
        <div class="main-wrapper login-body" *ngIf="showHideForgotPassword">

            <h2 class="font">Forgot Password?</h2>
            <p class="account-subtitle">Enter email address to reset your password</p>
             <form #forgotPassForm="ngForm" autocomplete="off"
              (ngSubmit)="forgotPassForm.valid && forgotPassword()" novalidate>
              <div class="form-group">
                <input type="email" class="form-control" name="email" autofocus #email="ngModel"
                  [(ngModel)]="forgotPassObj.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required maxlength="100" name="email" autofocus placeholder="Email" autocomplete="off" />
                <div *ngIf="email.valid || email.touched || forgotPassForm.submitted">
                  <div class="error-msg text-danger " *ngIf="email.errors">
                    Email Id is required.
                  </div>
                </div>
              </div>

              <div class="form-group mb-0">
                <button class="btn btn-primary w-100" type="submit">
                  Send OTP
                </button>
              </div>
            </form> 
            <br>
            <div class="text-center dont-have forgotpass">
              Remember your password? <a routerLink="/login">Login</a>
            </div>
          </div>

          <div class="main-wrapper login-body" *ngIf="showHideResetPassword">
            <div class="login-wrapper">
              <div class="col-md-12">
                <div class="">
                  <div class="row">
                    <div class="col-md-6 left leftHeight col6"></div>
                    <div class="col-md-12 left rightHeight col6">
                      <div class="container loginf">
                        <h4 class="font">Reset Password</h4>
                        <p class="account-subtitle fm">Reset your password here.</p>
                        <form #resetPasswordForm="ngForm" autocomplete="off"
                          (ngSubmit)="resetPasswordForm.valid && resetPasswordObj.password == resetPasswordObj.cnfPassword  && resetPassword()" novalidate>
                          <div class="form-group">
                            <input class="form-control"  minlength="6" maxlength="6" type="text" name="otp" (keypress)="checkIfNumber2($event)"
                              autofocus #otp="ngModel" pattern="^[0-9]{6,6}$" required placeholder="OTP" 
                              [(ngModel)]="resetPasswordObj.otp" autocomplete="my-otp"  />
                            <div *ngIf="otp.valid || otp.touched || resetPasswordForm.submitted">
                              <div class="error-msg error_message text-danger"
                                *ngIf="otp.errors && otp.errors?.['required']">
                                Please enter OTP.
                              </div>  
                              <div class="error-msg error_message text-danger"
                                *ngIf="otp.errors && otp.errors?.['pattern']">
                                Please enter 6 digit OTP.
                              </div>  
                            </div>
                          </div>
                          <div class="form-group">
                            <input [type]="showPassword1 ? 'password' : 'text'" class="form-control" minlength="9"
                              maxlength="12" [(ngModel)]="resetPasswordObj.password" name="password" required
                              pattern="(?=^.{9,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                              #password="ngModel" autocomplete="password" placeholder="New Password" />
                            <div class="input-group-append show_hide_password">
                              <i class="fa fa-eye-slash eye-hide" *ngIf="!showPassword1"
                                (click)="showPassword1 = !showPassword1">
                              </i>
                              <i class="fa fa-eye eye-show" *ngIf="showPassword1"
                                (click)="showPassword1 = !showPassword1"></i>
                            </div>
                            <ul class="msg"
                              *ngIf="password.valid || password.touched || resetPasswordForm.submitted">
                              <li class="error_message text-danger"
                                *ngIf="password.errors && password.errors?.['pattern']">
                                Your password should have at least one capital alphabets allowed(A-Z),
                                One Number&One (0-9),
                                Special Characters (@,#,$..)
                              </li>
                              <li class="error_message text-danger"
                                *ngIf="password.errors && password.errors?.['required']">
                                Please enter password.
                              </li>
                              <li class="error_message text-danger"
                                *ngIf="password.errors && password.errors?.['minlength']">
                                Password should be atleast 9 characters.
                              </li>
                            </ul>
                          </div>
                          <div class="form-group ">
                            <input [type]="showPassword ? 'password' : 'text'" class="form-control" minlength="9"
                              maxlength="12" [(ngModel)]="resetPasswordObj.cnfPassword" name="password2" required
                              pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                              #password2="ngModel" autocomplete="my-cnf-pass" placeholder="Confirm Password" />
                            <div class="input-group-append show_hide_password">
                              <i class="fa fa-eye-slash eye-hide" *ngIf="!showPassword"
                                (click)="showPassword = !showPassword">
                              </i>
                              <i class="fa fa-eye eye-show" *ngIf="showPassword"
                                (click)="showPassword = !showPassword"></i>
                            </div>
                            <div class="msg"
                              *ngIf="password2.valid || password2.touched || resetPasswordForm.submitted">
                              <div class="error_message text-danger"
                                *ngIf="password2.errors && password2.errors?.['required']">
                                Please enter confirm password.
                              </div>
                              <div class="error_message text-danger"
                                *ngIf="resetPasswordObj.cnfPassword && resetPasswordObj.cnfPassword != resetPasswordObj.password">
                                Password not matching.
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0">
                            <button class="btn btn-primary w-100" type="submit" *ngIf="counterToShow>0">
                              Reset Password
                            </button>
                            <button class="btn btn-primary w-100" type="button" (click)="resendOTP(resetPasswordForm)"
                              *ngIf="counterToShow==0">
                              Resend OTP
                            </button>
                            <span *ngIf="counterToShow !== 0">
                              <p class="float-end expireOtp mb-0">
                                <strong>OTP expires in {{ counterToShow }}
                                  sec.</strong>
                                </p>
                            </span>
                          </div>
                        </form>
                        <br>
                        <div class="text-center dont-have forgotpass ">
                          Remember your password? <a routerLink="/login">Login</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </a>
</div>
