.error_message{
    font-size: 0.875rem;
}
.input-group-append{
    float: right;
    margin-right: 17px;
    margin-top: -26px;
   
}

.fm{
    margin: 2%;
}
  .l1{
    margin-top: 4%;
    margin-bottom: 5%;
  }
    .error-msg{
        text-align: left;
    }
    .error_message{
    text-align: left;
}
.msg{
    text-align: left;

}
    input:focus { 
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }

  ul{
   list-style-type:circle;
  }
  .widthI{
    width: 30vh;
  }

    

  input, select, optgroup, textarea {
    font-size: 16px;
}
button{font-size: 16px;
}



@media only screen and (min-width:321px) and (max-width:480px) {
 
}